.App {
  font-family: sans-serif;
  text-align: center;
}
h1,h4,h3{
  text-align: center;
}
div.row{
  background-color:	#A9A9A9;
  padding: 10px;
}

div.triagem{
  background-color: #4682B4;
  padding: 10px;
}

div.senhasGeradas{
  background-color: #4682B4;
  padding: 10px;
}

.container_principal{
  display: flex; 
  flex-wrap: nowrap; 
  justify-content: space-around;
  }


  .btnGerador{
    display: block;    
    text-align: center;
  }